# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
/.vs/MarsRover/v15/.suo
/.vs/MarsRover/v15/Server/sqlite3
/MarsRover.Core/bin/Debug/netstandard2.0
/MarsRover.Core/obj
/MarsRover.Test/obj/Debug
/MarsRover.Tests/bin/Debug/netcoreapp2.0
/MarsRover.Tests/obj
